{% extends 'base.html.twig' %}

{% block title %}New Owners{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-3">
                <h1>Crea un nuevo propietario</h1>
                <form>
        
                    {{ include('owners/_form.html.twig') }}
        
                </form>
            
            </div>
        </div>
    </div>
    
    
    

    
{% endblock %}
